@page
@model ServiceHosts.Areas.Administration.Pages.Shop.Comment.IndexModel
@{
    Layout = "Shared/_AdminLayout";
    ViewData["Title"] = "مدیریت نظرات";
}
@section Styles
{
    <link href="~/Admin_Theme/assets/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
}
@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <script type="text/javascript">
        $(document).ready(function () {
            $.Notification.autoHideNotify('error'
                , 'bottom right'
                , 'پیغام خطا',
                '@Model.Message')
        });
    </script>
}
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title pull-right">@ViewData["Title"]</h4>
        @*<p class="pull-left">
                <a class="btn btn-success btn-lg" href="#showmodal=@Url.Page("./Index", "RegisterAccount")">ایجاد محصول جدید</a>
            </p>*@
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> جستجو در کامنت ها براساس:</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline" role="form" method="get">
                    <div class="form-group">
                        <label class="sr-only" asp-for="SearchModel.Name"></label>
                        <input type="text" class="form-control" asp-for="SearchModel.Name" placeholder="نام  نظردهنده">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" asp-for="SearchModel.Email"></label>
                        <input type="text" class="form-control" asp-for="SearchModel.Email" placeholder="ایمیل نظر دهند">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" asp-for="SearchModel.FkProductId"></label>
                        <select class="form-control" asp-for="SearchModel.FkProductId" placeholder="قیمت محصول" asp-items="@Model.ProductItems">
                            <option value="0">انتخاب محصول</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-l-10">جستجو</button>
                    <a class="btn btn-primary waves-effect waves-light m-l-10" asp-page="./Index">مشاهده همه</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" id="ProductCategoriesDiv">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">لیست نظرات ثبت شده</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>نام</th>
                                    <th>ایمیل</th>
                                    <th>محصول</th>
                                    <th>امتیاز</th>
                                    <th>تاریخ ایجاد</th>
                                    <th>متن نظر</th>
                                    <th>وضعیت نظر</th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Comments)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>@item.Email</td>
                                        <td>@item.Product</td>
                                        <td>@item.Point</td>
                                        <td>@item.CreationDate</td>
                                        <td>@item.Message</td>

                                        @if (item.IsConfirmed)
                                        {
                                            <td>
                                                <i class="fa fa-check-circle fa-3x text-success"> </i> تائید شده
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <i class="fa fa-3x fa-remove text-danger"> </i> در انتظار تائید
                                            </td>
                                        }


                                        <td>

                                            @if (item.IsConfirmed)
                                            {
                                                <a class="btn btn-danger  waves-effect waves-light m-b-5" asp-page-handler="Cancel" asp-route-id="@item.Id">
                                                    <i class="fa fa-remove"> </i>&nbsp; رد کردن
                                                </a>

                                            }
                                            else
                                            {

                                                <a class="btn btn-success  waves-effect waves-light m-b-5" asp-page="./Index"
                                                   asp-page-handler="Confirm" asp-route-id="@item.Id">
                                                    <i class="fa fa-check"></i>&nbsp;تائید کردن
                                                </a>
                                            }


                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/Admin_Theme/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Admin_Theme/assets/datatables/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').dataTable();
        });
    </script>

}